/*====common====*/
:root{
    --header-color: white;
    --body-color: white;
    --footer-color: dimgray;
    --border-color: lightgray;
    --fonts-color: black;
    --footer-fonts-color: white;
    --footer-border-color: gray;

    --header-margin: 135px; 
    --header-negative-margin: -135px; 
    --header-margin: 135px; 
    --header-margin-mobile: 255px; 
    --header-negative-margin-mobile: -255px; 

    --content-width: 75%;
    --content-max-width: 1280px;

    --mobile-text-w: 90vw;
    --mobile-figure-w: 85vw;

    font-family: 'Noto Serif JP', sans-serif;
    color: var(--fonts-color);
}

/*body*/
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--body-color);
}

/*header*/
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    border-bottom: solid 1px;
    background-color: var(--header-color);
}

header img{
    height: 85px;
    width: auto;
    border-radius: 15%;
}

header h3{
    font-weight: normal;
    color: var(--fonts-color);
}

nav{
    max-width: 1024px;
    min-width: 450px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-ul{
    display: flex;
    padding-left: 0; /*デフォルトのul左padding削除*/
    list-style-type: none;
    flex-direction: row;
}

.nav-li{
    flex-grow: 1;
    margin: 2px;
    text-align: center;
    width: 33%;
}

.nav-li a{
    color: black;
    display: block;
    font-size: 22px;
    padding: 16px;
}

/*main*/
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*footer*/
footer{
    background-color: var(--footer-color);
    margin-top: auto;
    min-width: 450px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

footer *{
    color: var(--footer-fonts-color)
}

.container{
    width: var(--content-width);
    max-width: 1536px;
    margin: 0 auto 0 auto;

    display: flex;
    flex-direction: column;
}

.content{
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.author{
    justify-content: stretch;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border-color: var(--footer-border-color);
    border-style: none solid none none;
    border-width: 1px;
    width: 40%;
    min-width: 200px;
}

.link{
    margin-left: 10%;
    width: 30vw;
    flex-grow: 1;
}

.link-ul{
    flex-direction: column;
    list-style-type: none;
}

.link-li{
    margin: 5px;
}

#copyright{
    text-align: right;
    margin-right: 5%;
}


/*hyper link*/
* a{
    text-decoration: none;
}

/*h*/
h2, 
h3{
    text-align: center;
    font-weight: normal;
}

.abstract{
    box-shadow: 3px 5px 10px 2px rgba(0, 0, 0, 0.1);
    width: 95vw;
    max-width: 1300px;
    margin: 2%  auto 0 auto;
    position: relative;
}

.abstract h1{
    position: absolute;
    color: white;
    top: 16%;
    left: 43%;
    font-size: 3.4vw;
}

.abstract img{
    width: 100%;
}

.features{
    display: flex;
    width: var(--content-width);
    max-width: var(--content-max-width);
    margin: auto;
}

.feature{
    width: 40vw;
    max-width: 500px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-content: start;
}

.feature figure{
    width: 100%;
    margin: 0;
}

.specification{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.specification ul{
    width: 35vw;
    max-width: 380px;
    margin: auto;
}

.specification figure{
    width: 50vw;
    max-width: 640px;
    margin: auto;
}
.download{
    display: flex;
    flex-direction: column;
    align-content: center;

    margin: auto;
    width: var(--content-width);
    max-width: var(--content-max-width);
}
.download p{
    width: 100%;
    margin: auto;
}

.demo{
    display: flex;
    flex-direction: column;
    align-content: center;
    
    width: var(--content-width);
    margin: 0 auto;
    max-width: var(--content-max-width);
}

.demo iframe{
    width: 100%;
    height: calc(75vw * 9 / 16);
    max-height: calc(var(--content-max-width) * 9 / 16);
    margin : 0 auto;
}

.demo p{
    width: 100%;
}

.note{
    width: var(--content-width);
    max-width: var(--content-max-width);
}

article:not(:last-child):after{
    overflow: hidden;
    content: "";
    border-color: var(--border-color);
    border-style: solid none none none;
    border-width: 1px;
    display: block;
    margin: 5% 5%;
    width: 90vw;
}

section:last-child, 
article:last-child{
    margin-bottom: 5%;
}

.list .thumbnail{
    margin: 0 auto;
}

.list div:last-of-type{
    margin-bottom: 5%;
}

article figure{
    width: var(--mobile-figure-w);
    margin: auto;
}

.note figure{
    float: left;
    width: 25%;
    display: flex-box;
    margin: 1%;
}

figure img{
    justify-content: stretch;
    max-width: 75%;
    margin: 0% 12% 12% 12%;
}

figcaption{
    text-align: center;
    font-size: small;
    margin-top: -12%;
}

.note:nth-of-type(even) figure, 
.note:nth-of-type(odd) figure:nth-of-type(even){
    float: right;
}

.note figure:nth-of-type(even){
    float: left;
}

article:not(:first-of-type) h2{
    margin-top: -3%;
}

.note p{
    text-indent: 1em;
}

@media screen and (max-width: 1250px){
    /*header*/
    header a{
       display: flex; 
       justify-content: center;
    }
    header img{
        height: 30%;
        width: auto;
        max-width: 20vw;
    }

    header h3{
        font-size: 40px;
    }
    .nav-ul{
        display: flex;
        padding-left: 0; /*デフォルトのul左padding削除*/
        list-style-type: none;
        flex-direction: row;
    }

    .nav-li{
        flex-grow: 1;
        margin: 2px;
        text-align: center;
    }

    .nav-li a{
        font-size: 30px;
        padding: auto auto 16px 8px;
    }

    /*footer*/
    .container{
        width: 100%;
    }
    .content{
        margin: 0 auto;
        width: 100%;
        flex-direction: column;
    }
    .author{
        width: 80%;
    }
    .author h1{
        font-size: 250%;
    }
    .author p{
        margin-left: 10%;
        font-size: 200%;
    }
    .link{
        margin-left: 0;
        width: 80%;
    }
    .link-ul{
        font-size: 200%;
    }
    .link-li{
        margin-left: 10%;
    }
    #copyright{
        font-size: 200%;
    }
    
   
    /*main*/
    .abstract{
        width: 100%;
    }
    .abstract h1{
        top: 20%;
        left: 52%;
        font-size: 3.8vw;
    }
    
    h2{
        width: 100%;
    }
    
    article:not(:last-child):after{
        margin: 10% auto;
        width: 90vw;
    }
    .features{
        flex-direction: column;
    }
    .feature{
        width: var(--mobile-text-w);
        max-width: none;
        margin-bottom: 10%;
    }

    .specification{
        align-items: stretch;
    }
    .specification figure{
        width: var(--mobile-text-w);
        max-width: none;
    }
    .specification ul{
        max-width: none;
        width: 60vw;
        font-size: 200%;
    }

    .download p{
        width: 100%;
    }
    .download p, 
    .demo p{
        font-size: 28px;
    }
    .demo iframe{
        width: var(--mobile-figure-w);
        height: calc(var(--mobile-figure-w) * 9 / 16);
    }

    .download,
    .demo, 
    .note{
        width: var(--mobile-text-w);
    }

    .note figure{
        float: none;
        width: var(--mobile-figure-w);
        margin: auto;    
    }
    .note:nth-of-type(even) figure, 
    .note:nth-of-type(odd) figure:nth-of-type(even){
        float: none;
    
    }

    .note figure:nth-of-type(even){
        float: none;
    }
}
